Include /etc/ssh/sshd_config.d/*.conf

LoginGraceTime 30
PermitRootLogin no
MaxSessions 3
ClientAliveInterval 120

PubkeyAuthentication yes
PasswordAuthentication yes
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no

UsePAM yes

AcceptEnv LANG LC_*

AllowUsers powerzio